.center-aligned { text-align: center; }
.left-aligned { text-align: left; }
.slightly-padded { padding: 30px 50px; }
.general-information { font-size: 120%; }
.text-note { font-size: 85%; }
.horizontally-padded { padding: 0px 70px; }